body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 100px;
    background-color: #e7eef1;
}
a{
    color: #00b3b4;
}

footer{
    padding: 50px;
}

/* Dropdown Menu */

.dropdown{
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown-hover{
    display: inline-block;
    padding: 10px;
    background: #323b40;
    color: #fff;
    cursor:pointer;
    border: none;
}

.dropdown-hover:hover{
    background: #222;
}

.dropdown-menu{
    position: absolute;
    display:none;
    top: 100%;
    left:0;
    min-width: 200px;
    color: #323b40;
    background: #fff;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.dropdown:hover .dropdown-menu{
    display: block;   
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-top: solid 1px #e0e0e0;
}

.dropdown-menu a:hover{
    background: #f0f0f0;
    color: #323b40;
}

hr{
    margin: 60px 0;
}
/* Accordion */
.accordion{
    position: relative;
    display: block;
    background-color: #fff;
    border: solid 1px #e0e0e0;
}

.accordion-item{
    display: block;
}

.accordion .accordion-content{
    display: block;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease, padding 0,3s linear;
}

.accordion .accordion-content p{
    padding: 20px;
    margin: 0;
}

.accordion .accordion-content:target{
    height: 100%;
}

.accordion .accordion-trigger{
    text-decoration: none;
}

.accordion .accordion-title{
    position: relative;
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 1em;
    background: #00b3b4;
    color:#fff;
    border: solid 1px #379aa4;
    box-shadow: 0 1px 0 rgba(255,255,255, 0.8) inset, 0 -1px 0 rgba(255,255,255, 0.1) inset, 0 4px 0 #338a94, 0 4px 2px rgba(0,0,0, 0.5);
}

.accordion .accordion-title:hover{
    background-color: #0bbfc0;
}

.accordion .accordion-title::after{
    position: absolute;
    content: "";
    top: calc(50% - 5px);
    right: 20px;
    width: 7px;
    height: 7px;
    border-left: solid 2px #fff;
    border-bottom: solid 2px #fff;
    transform: rotate(-45deg);

}

/* Modal */
.button-theme{
    background: #00b3b4;
    color:#fff;
    border: solid 1px #379aa4;
    box-shadow: 0 1px 0 rgba(255,255,255, 0.8) inset, 0 -1px 0 rgba(255,255,255, 0.1) inset, 0 4px 0 #338a94, 0 4px 2px rgba(0,0,0, 0.5);
    padding:10px;
    width:100%;
    display:block;
    text-align: center;
}
.overlay{
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    z-index: 2;
    background: #000;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

input[type="checkbox"]:checked ~ .overlay{
    pointer-events: auto;
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal{
    position:fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    width: 100%;
    max-width: 640px;
    pointer-events: none;
    opacity: 0;
}

input[type="checkbox"]:checked ~ .modal{
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s;
}

.modal-content{
    display: block;
    padding: 30px;
    background: #fff;
}

